*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding: 20px 30px;
}

h1{
    font-weight: normal;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    margin-bottom: 100px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer; 
}

.hamburger-line {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 300ms ease;
    z-index: 999;
}

.hamburger.open .hamburger-line {
    position: absolute;
    top: 50%;
    transform-origin: center;
}


.hamburger.open .hamburger-line:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
}

.hamburger.open .hamburger-line:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

/* Menu Styles */
.menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 300ms ease;
    background-color: white;
    z-index: 999;
}

.menu.open {
    height: 100vh;
    transform: translateY(0%);
}

/* Optional: Menu Content Styling */
.menu ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;

}



.project-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project{
    aspect-ratio: 1;
    background-color: rgb(203, 203, 203);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 200ms ease;
    cursor: pointer;
    font-size: 2rem;

}

.project-overlay:hover{
    opacity: 1;
}

.project-one{
    background-image: url("./assets/images/goldenTable/goldenTableOne.jpg");
}

.project-two{
    background-image: url("./assets/images/cresentLamp/cresentLampOne.jpg");
}

.project-three{
    background-image: url("./assets/images/castleUnit/castleUnitOne.jpg");
}

.project-four{
    background-image: url("./assets/images/zigzagTable/zigzagTableOne.jpg");
}

.project-five{
    background-image: url("./assets/images/pianoHanger/pianoHangerOne.jpg");
}

.project-six{
    background-image: url("./assets/images/mosaicPanel/mosaicPanelOne.jpg");
}

.project-seven{
    background-image: url("./assets/images/molecularStool/molecularStoolOne.jpg");
}

.project-eight{
    background-image: url("./assets/images/bikeSeatStool/bikeSeatStoolOne.jpg");
}

.project-nine{
    background-image: url("./assets/images/classicalStool/classicalStoolOne.jpg");
}

.project-ten{
    background-image: url("./assets/images/stairStool/stairStoolOne.jpg");
}

.project-eleven{
    background-image: url("./assets/images/semiCresent/semiCresentOne.jpg");
}

.project-twelve{
    background-image: url("./assets/images/foxBoard/foxBoardOne.jpg");
}

.project-thirteen{
    background-image: url("./assets/images/mechanicalHeart/mechanicalHeartOne.jpg");
}

.project-fourteen{
    background-image: url("./assets/images/uncleStool/uncleStoolOne.jpg");
}

.project-fifteen{
    background-image: url("./assets/images/stabSharpener/stabSharpenerOne.jpg");
}

.project-sixteen{
    background-image: url("./assets/images/handHanger/handHangerOne.jpg");
}

.project-seventeen{
    background-image: url("./assets/images/smokeyDragon/smokeyDragonOne.jpg");
}

.project-eighteen{
    background-image: url("./assets/images/fingerBoard/fingerBoardOne.jpg");
}

.project-nineteen{
    background-image: url("./assets/images/crashPad/crashPadOne.jpg");
}

.project-twenty{
    background-image: url("./assets/images/rococoCreature/rococoCreatureOne.jpg");
}

.project-twentyone{
    background-image: url("./assets/images/candleHolder/candleHolderOne.jpg");
}

.project-twentytwo{
    background-image: url("./assets/images/handPot/handPotOne.jpg");
}

.project-twentythree{
    background-image: url("./assets/images/blueBreakfast/blueBreakfastOne.jpg");
}

.project-twentyfour{
    background-image: url("./assets/images/walnutPlates/walnutPlatesOne.jpg");
}

.project-twentyfive{
    background-image: url("./assets/images/handleSeries/handleSeriesOne.jpg");
}

.project-twentysix{
    background-image: url("./assets/images/croissantChair/croissantChairOne.jpg");
}

/* === Project Pages === */

.project-container {
    position: fixed;
    top: 100%; 
    left: 0;
    right: 0;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    z-index: 9999; 
    transition: top 300ms ease;
}

.project-content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}


.project-content {
    padding: 60px 20px 20px 20px;
    text-align: center;
}

.project-content h1 {
    font-size: 36px;
}

.display-image img {
    height: auto;
    margin: 20px 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.grid-image img {
    width: 100%;
    display: block;
}

.close-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
}

/* === Mobile === */

@media screen and (max-width: 710px) {
    .image-grid {
        grid-template-columns: 1fr; 
    }

    .project-grid{
        grid-template-columns: 1fr; 
    }
}
